body,
html {
  margin: 0 auto;
  padding: 0;
  background-image: url("./images/img.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  height: 100vh;
}
p{
  margin: 0;
}
.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column

}

.console {
  display: none;
  width: 30%;
  justify-self:  center;
  align-self: center;
  position: absolute;
  z-index: 0;
}
.text-file{
  width: 30%;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 25%;
  z-index: 1;
  border: 1px solid black;
  display:none;
}
.application-title{
  margin: 0;
 
  font-size: 0.9rem;
}

.application-top {
  padding: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0.02em 0.5em;
}
.help-title{
  font-size: 1.0rem;
  border-bottom: 1px solid rgb(167, 167, 167);
  padding-bottom: 0.4em;
  padding-top: 0.1em;
 
}
.close-button {
 
  margin: 0;
  width: 10%;
  font-size: 1.2rem;
  text-align: center;
  align-self: center;
}
.close-button:hover {
  background: red;
  color: white;
}
.io{
  background: black;
  height: 20em;
  color: #00bf00;
  padding: 0.5em;
  overflow: scroll;
  word-break: break-all;
}
.text-body{
  padding: 0.5em;
  margin: 0;
  background: white;
  height: 25em;
  word-break: break-all;
  overflow-y: scroll; 
}
#cursor {
  animation: blink 0.75s infinite;
 
}
@keyframes blink {
  0% {
    color: transparent;
  }
  50%{
    color: #00bf00
  }

  100% {
    color: transparent;
  }
}
.icon{
  margin: 1.5em;
}
.icon-img{
  width: 4%;
  height: 4%;
  margin-bottom: 0;
  
}
.icon-name{
  margin: 0;
  color: black;
 
}
span{
  word-wrap: normal;
}
.io::-webkit-scrollbar {
  display:none
}
.io{
  -ms-overflow-style:none;
  scrollbar-width: none;
}
